.App {
  
  text-align: center;
}

h1 {
  
}

h2 {
  color: #FFFFFF;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
margin: 30px;
}

img {
  max-width: 50px;
  margin: 75px;
}

img:hover {
  transition: 0.9s;
  transform: scale(1.10);
}
