@import url("https://fonts.jimstatic.com/css?family=Poppins:400,500,600,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
 
  background-size: auto;
}

body {
  background-image: url("https://wallpaperbat.com/img/343970-matrix-wallpaper-for-desktop.jpg");
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
